{% extends "_footer.html" %}

    {% block title %}ООО Строй-Сервис-Монтаж{% endblock title %}

    {% block content %}
    <div class="navbar-container">
      <div class="row">
        <div class="col-md-2" style="text-align:center;">
          <img src="../img/logo.png" class="img-rounded" alt="Логотип" width="64" height="64">
        </div>
        <div class="col-md-10" style="text-align:left;">
          <ol class="breadcrumb">
            <li><a href="../index.html">Главная</a></li>
            <li><a href="catalogue.html">Каталог организаций</a></li>
            <li><a href="concrete_goods.html">ЖБИ</a></li>
            <li class="active">ООО Строй-Сервис-Монтаж</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="well well-sm">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="../img/logo.png" alt="Логотип организации" width="64" height="64">
          </a>
          <div class="media-body">
            <h4 class="media-heading">ООО Строй-Сервис-Монтаж</h4>
            <div class="row">
              <div class="col-md-9">
                <address>
                  <strong>Место деятельности: </strong> Новосибирск <br>
                  <strong>Продукция: </strong> ЖБИ, бетон <br>
                  <strong>Адрес: </strong> Под часами, на том же месте <br>
                  <strong>Телефон: </strong> 00-00-00 <br>
                </address>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-primary btn-sm">Оставить заявку<br>этой компании</button>
              </div>
            </div>
          </div>
        </div>

        <p>
          Мы делаем
        </p>
        <ul>
          <li>Плиты</li>
          <li>Перекрытия</li>
          <li>Доставляем бесплатно</li>
        </ul>

        <p>
        Чёрная дыра — область пространства-времени, гравитационное притяжение которой настолько велико,
        что покинуть её не могут даже объекты, движущиеся со скоростью света, в том числе кванты самого света.
        Граница этой области называется горизонтом событий, а её характерный размер — гравитационным радиусом.
        В простейшем случае сферически симметричной чёрной дыры он равен радиусу Шварцшильда.
        </p>

        <p>
        Теоретически возможность существования таких областей пространства-времени следует из некоторых точных
        решений уравнений Эйнштейна, первое из которых было получено Карлом Шварцшильдом в 1915 году.
        Точный изобретатель термина неизвестен, но само обозначение было популяризовано Джоном Арчибальдом
        Уилером и впервые публично употреблено в популярной лекции «Наша Вселенная: известное и неизвестное»
        (англ. Our Universe: the Known and Unknown) 29 декабря 1967 года. Ранее подобные астрофизические объекты
        называли «сколлапсировавшие звёзды» или «коллапсары» (от англ. collapsed stars), а также «застывшие звёзды»
        (англ. frozen stars).
        </p>

        <p>
        Вопрос о реальном существовании чёрных дыр тесно связан с тем, насколько верна теория гравитации,
        из которой следует их существование. В современной физике стандартной теорией гравитации, лучше
        всего подтверждённой экспериментально, является общая теория относительности (ОТО), уверенно
        предсказывающая возможность образования чёрных дыр (но их существование возможно и в рамках других
        (не всех) моделей). Поэтому наблюдаемые данные анализируются и интерпретируются,
        прежде всего, в контексте ОТО, хотя, строго говоря, эта теория пока не является интенсивно
        экспериментально протестированной для условий, соответствующих области пространства-времени
        в непосредственной близости от горизонта чёрных дыр звёздных масс (однако хорошо
        подтверждена в условиях, соответствующих сверхмассивным чёрным дырам, и с точностью до 94% 
        согласуется с первым гравитационно-волновым сигналом). Поэтому утверждения о непосредственных
        доказательствах существования чёрных дыр, в том числе и в этой статье ниже, строго говоря,
        следует понимать в смысле подтверждения существования астрономических объектов, таких плотных и
        массивных, а также обладающих некоторыми другими наблюдаемыми свойствами, что их можно интерпретировать
        как чёрные дыры общей теории относительности.
        </p>

        <p><a href="#">Оставьте заявку этой компании</a></p>

      </div>

      <p><a href="#">Все организации Новосибирска и области</a></p>
     
    </div> <!-- /container -->
    {% endblock content %}
