{% extends "_base.html" %}

{% block footer %}
    <footer class="footer">
      <div class="supplier-container">
        <div class="row">
          <div class="col-md-12" style="text-align:center;">
            <h2>Вы поставщик?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="text-align:left;">
            <p>
              Для доступа к телефонам покупателей заполните форму или позвоните нам: <br>
              +7 999-888-77-66 <br>              
            </p>
            <p>
              Текст с дополнительной информацией по условиям сотрудничества. <br>
              Возможно стоит вынести его на отдельную страницу. <br>
              Текст с дополнительной информацией по условиям сотрудничества. <br>
              Возможно стоит вынести его на отдельную страницу. <br>
            </p> 
          </div>
          <div class="col-md-6">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="OrgName" class="col-sm-3 control-label">Организация</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="OrgName" placeholder="Введите название Вашей организации">
                </div>              
              </div>
              <div class="form-group">
                <label for="OrgPhone" class="col-sm-3 control-label">Телефон</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="OrgPhone" placeholder="Введите номер телефона">
                </div>              
              </div>
              <div class="form-group">
                <label for="OrgEMail" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="OrgEMail" placeholder="Введите e-mail">
                </div>              
              </div>
              <div class="form-group">
                <label for="SupplierName" class="col-sm-3 control-label">Имя</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="SupplierName" placeholder="Введите имя">
                </div>              
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9" style="text-align:center;">
                  <button type="submit" class="btn btn-primary"">Отправить информацию</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}
