{% extends "_base.html" %}

    {% block head %}
    <link rel="shortcut icon" href="../img/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    {% endblock head %}

    {% block account %}"account.html"{% endblock %}

    {% block scripts %}
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
    {% endblock scripts %}
