{% extends "_page_with_footer.html" %}

    {% block title %}ЖБИ{% endblock title %}

    {% block content %}
    <div class="navbar-container">
      <div class="row">
        <div class="col-md-2" style="text-align:center;">
          <img src="{{static['img']['logo']}}" class="img-rounded" alt="Логотип" width="64" height="64">
        </div>
        <div class="col-md-10" style="text-align:left;">
          <ol class="breadcrumb">
            <li><a href="index.html">Главная</a></li>
            <li><a href="catalogue.html">Каталог организаций</a></li>
            <li class="active">ЖБИ</li>
          </ol>
        </div>
      </div>
    </div>  

    <div class="container">

      <div class="page-header">
        <h1>Производители и оптовые компании в Новосибирске и области</h1>
        <h3>ЖБИ</h3>
      </div>
     
      <div class="row">
        <div class="col-md-9" style="text-align:left;">
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <td>
                <div class="media">
                  <a class="pull-left" href="company.html">
                    <img class="media-object" src="img/logo.png" alt="Логотип организации" width="64" height="64">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">ООО Строй-Сервис-Монтаж</h4>
                    <address>
                      <strong>Место деятельности: </strong> Новосибирск <br>
                      <strong>Продукция: </strong> ЖБИ, бетон <br>
                      <strong>Адрес: </strong> Под часами, на том же месте <br>
                      <strong>Телефон: </strong> 00-00-00 <br>
                    </address>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="img/logo.png" alt="Логотип организации" width="64" height="64">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">ООО Строй-Сервис-Монтаж</h4>
                    <address>
                      <strong>Место деятельности: </strong> Новосибирск <br>
                      <strong>Продукция: </strong> ЖБИ, бетон <br>
                      <strong>Адрес: </strong> Под часами, на том же месте <br>
                      <strong>Телефон: </strong> 00-00-00 <br>
                    </address>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary btn-sm" onclick="location.href='index.html'">Оставить заявку</button>
        </div>
      </div> <!-- row -->

      <div class="row">
        <div class="col-md-12" style="text-align:center;">
          <ul class="pagination" style="text-align:center;">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>

      <p><a href="index.html">Оставить заявку</a></p>

    </div> <!-- /container -->
    {% endblock content %}
