{% extends "_page_with_footer.html" %}

    <title>{% block title %}Поставщики{% endblock title %}</title>

    {% block content %}
    <div class="container">
      <div class="row" style="text-align:left;">
        <div class="col-md-4">
          <p>Участники в Новосибирске:</p>
        </div>
        <div class="col-md-4">
          <p><a href="catalogue.html">105 оптовых компаний</a></p>
        </div>
        <div class="col-md-4">
          <p><a href="catalogue.html">25 производителей</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="text-align:center;">
          <h2>ВАМ ПОЗВОНЯТ ЛУЧШИЕ ПОСТАВЩИКИ НОВОСИБИРСКА</h2>
        </div>
      </div>

      <!-- form -->
      <div class="jumbotron" style="text-align:left;">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-2">
              <h3>Я ищу</h3>
            </div>
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> ЖБИ
                  <span class="text-muted"><small>(Фундаментальные блоки ФБС, плиты перекрытий ПК, перемычки)</small></span>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Кирпич / Газобетон / Брус
                </label>
              </div> 
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Бетон / Раствор
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="nav nav-pills">
                <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    в регионе <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Регион</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Описание*</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="description" placeholder="Введите описание">
              <span class="help-block">Пример: нужно фбс 24.4.6 50 шт плиты пк 20 ПК 60-20-12 доставка в Новолуговое</span>
            </div>
          </div> 
          <div class="form-group">
            <label for="phoneNumber" class="col-sm-2 control-label">Телефон*</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="phoneNumber" placeholder="Введите телефон">
            </div>
            <label for="name" class="col-sm-2 control-label">Имя</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="name" placeholder="Введите имя">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6" style="text-align:center;">
              <button type="submit" class="btn btn-lg btn-success">Опубликовать заявку</button>
            </div>
          </div>
        </form>
      </div>

      <!-- applications -->
      <div class="row">
        <div class="col-md-12">
          <h2 style="text-align:center;">Свежие заявки</h2>
        </div>
      </div>

     <!-- applications -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <div class="dropdown">
                раздел: 
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Все <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Раздел</a></li>
                 </ul>
              </div>
            </th>
            <th style="text-align:right;">
              <div class="dropdown">
                регион: 
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Выбрать <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="#">Регион</a></li>
                </ul>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for application in last_applications %}
          <tr>
            <td>
              <span class="text-muted">{{application['date']}}</span>
            </td>
            <td style="text-align:right;">
              <a class="text-muted" href="#"><span class="glyphicon glyphicon-star"></span> в закладки</a>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="row">
                <div class="col-md-12" style="text-align:left;">
                  <p>{{application['description']}}</p>
                  <p>{{application['user_name']}}</p>
                </div>
              </div> <!-- row -->
              <div class="row" style="text-align:left;">
                <div class="col-md-3">
                  <button type="button" class="btn btn-primary btn-xs">Показать телефон</button>
                </div>
                <div class="col-md-3">
                  <p>{{application['viewings_count']}} просмотров</p>
                </div>
              </div> <!-- row -->
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-12" style="text-align:center;">
          <button type="button" class="btn btn-primary" onclick="location.href='applications_page1.html'" style="margin-top: 5px;margin-bottom: 5px;">Показать все заявки</button>
        </div>
      </div>

    </div> <!-- /container -->

    <div class="carousel-container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div id="carousel-example-generic" class="carousel slide" data-interval="false" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="carousel-caption">
                  <div class="panel panel-primary">
                    <div class="panel-heading"><b>Кирилл, 29 лет, г. Барабинск</b></div>
                    <div class="panel-body">
                       <div class="media">
                        <a class="pull-left" href="#">
                          <img class="media-object" src="img/user.png" alt="Изображение" width="64" height="64">
                        </a>
                        <div class="media-body">
                          <p style="text-align:left;">
                            Цвета - это мощный способ передачи важной информации в веб-дизайне.
                            Bootstrap имеет несколько вспомогательных классов, которые могут быть
                            использованы для придания тексту дополнительной информации.
                            Цвета - это мощный способ передачи важной информации в веб-дизайне.
                            Bootstrap имеет несколько вспомогательных классов, которые могут быть
                            использованы для придания тексту дополнительной информации.
                          </p>            
                        </div> <!-- media-body -->
                      </div> <!-- media -->
                    </div> <!-- panel-body -->
                  </div> <!-- panel -->
                </div> <!-- carousel-caption -->
              </div> <!-- item -->
              <div class="item">
                <div class="carousel-caption">
                  <div class="panel panel-primary">
                    <div class="panel-heading"><b>Артем, 40 лет, г. Москва</b></div>
                    <div class="panel-body">
                      <div class="media">
                        <a class="pull-left" href="#">
                          <img class="media-object" src="img/user.png" alt="Изображение" width="64" height="64">
                        </a>
                        <div class="media-body">
                          <p style="text-align:left;">
                            Неплохо
                          </p>            
                        </div> <!-- media-body -->
                      </div> <!-- media -->
                    </div> <!-- panel-body -->
                  </div> <!-- panel -->
                </div> <!-- carousel-caption -->
              </div> <!-- item -->
            </div> <!-- carousel-inner --> 

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div> <!-- Carousel -->
        </div> <!-- col-md-6 col-md-offset-3 -->
        <div class="col-md-3" style="text-align:center;">
          <button type="button" class="btn btn-primary" style="margin-top: 5px;margin-bottom: 5px;">Оставить отзыв</button>
        </div>
      </div> <!-- row -->
    </div> <!-- carousel-container -->
    {% endblock content %}
